{% extends '::base.html.twig' %}

{% block body -%}
    <div class="repair_orders">
        <div class="container-fluid">
            <legend><a class="glyphicon glyphicon-plus" href="{{ path('repairorder_new') }}"></a> Repair orders</legend>
            <table class="records_list table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>User</th>
                    <th>Company</th>
                    <th>Place</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}

                    <tr>
                        <td>
                            <a class="btn btn-link" href="/repair_orders/{{entity.id}}">Show</a>
                        </td>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.getUser().username }}</td>
                        <td>{{ entity.getCompany().name }}</td>
                        <td>{{ entity.getPlace().name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.address }}</td>
                        <td>{{ entity.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
