{% extends '::base.html.twig' %}

{% block body -%}
    <div class="repair_orders">
        <div class="container-fluid">
            <legend>
                {% if app.user and is_granted('ROLE_MANAGER') %}
                    Repair orders
                {% elseif app.user and is_granted('ROLE_ENGINEER') %}
                    Repair orders
                {% else %}
                    <a class="glyphicon glyphicon-plus" href="{{ path('repairorder_new') }}"></a> Repair orders
                {% endif %}
            </legend>
            <table class="records_list table table-hover table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Company</th>
                    <th>Place</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Engineer</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr onclick="repairOrderShow({{ entity.id }})">
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.getUser() ? entity.getUser().getUsername() : '' }}</td>
                        <td>{{ entity.getCompany() ? entity.getCompany().getName() : '' }}</td>
                        <td>{{ entity.getPlace() ? entity.getPlace().getName() : '' }}</td>
                        <td>{{ entity.getDescription() }}</td>
                        <td>{{ entity.getAddress() }}</td>
                        <td>{{ entity.getTextStatus() }}</td>
                        <td>{{ entity.getEngineer() ? entity.getEngineer().getUsername() : '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
