{% extends '::base.html.twig' %}

{% block body -%}
    <div class="repair_orders">
        <div class="container-fluid">
            <legend><a class="glyphicon glyphicon-plus" href="{{ path('repairorder_new') }}"></a> Repair orders</legend>
            <table class="records_list table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>User</th>
                    <th>Company</th>
                    <th>Place</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a class="btn btn-link" href="/repair_orders/{{entity.id}}">Show</a>
                        </td>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.getUser() ? entity.getUser().getUsername() : '' }}</td>
                        <td>{{ entity.getCompany() ? entity.getCompany().getName() : '' }}</td>
                        <td>{{ entity.getPlace() ? entity.getPlace().getName() : '' }}</td>
                        <td>{{ entity.getDescription() }}</td>
                        <td>{{ entity.getAddress() }}</td>
                        <td>{{ entity.getTextStatus() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
