{% extends '::base.html.twig' %}

{% block body -%}
    <div class="repair_orders">
        <div class="container-fluid">
            <legend>Repair orders</legend>
            <a href="{{ path('repairorder_new') }}"><h1>+</h1></a>

            <table class="records_list table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Company</th>
                    <th>Place</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.getUser().username }}</td>
                        <td>{{ entity.getCompany().name }}</td>
                        <td>{{ entity.getPlace().name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.address }}</td>
                        <td>{{ entity.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
