{% extends '::base.html.twig' %}

{% block body -%}
    <div class="repairorder">
        <div class="container-fluid">
            <legend>
                <a class="glyphicon glyphicon-list-alt" href="/repair_orders"></a>
                <a class="glyphicon glyphicon-pencil" href="/repair_orders/{{ entity.id }}/edit"></a>
                <a class="glyphicon glyphicon-remove" href="/repair_orders/{{ entity.id }}/delete"></a>
                RepairOrder
            </legend>
            <table class="record_properties table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td>{{ entity.getUser() ? entity.getUser().username : '' }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ entity.getCompany() ? entity.getCompany().name : '' }}</td>
                </tr>
                <tr>
                    <th>Place</th>
                    <td>{{ entity.getPlace() ? entity.getPlace().name : ''}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ entity.address }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ entity.textStatus }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
