{% extends '::base.html.twig' %}

{% block body -%}
    <div class="manager-delete-place">
        <div class="container-fluid">
            <legend>
                Deletion place({{ place.name }})
            </legend>
            <div id="notifier">
                {{ include('notifiers/notifier.html.twig') }}
            </div>
            <div class="manager-delete-place-form">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
