{% extends '::base.html.twig' %}

{% block body -%}
    <div class="manager-users-show">
        <div class="container-fluid">
            <legend>User {{ user.getUsername() }}</legend>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user.getRole() ? user.getRole().name : '' }}</td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{ user.surname }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-default" href="/manager/users/{{ user.id }}/delete">Delete user</a>
        </div>
    </div>
{% endblock %}
