{% extends '::base.html.twig' %}

{% block body -%}
    <div class="manager-companies-new">
        <div class="container-fluid">
            <legend>Place creation</legend>
            <div id="notifier">
                {{ include('notifiers/notifier.html.twig') }}
            </div>
            <div class="manager-places-new-form">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="place_name">Place name</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Enter place name'} }) }}
                </div>
                <div class="form-group">
                    <label for="place_company">Company</label>
                    {{ form_widget(form.company, { 'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}