{% extends '::base.html.twig' %}

{% block body -%}
    <div class="manager-delete-company">
        <div class="container-fluid">
            <legend>
                Deletion company({{ company.name }})
            </legend>
            <div class="manager-delete-company-error">
                {{ form_errors(delete_form) }}
            </div>
            <div class="manager-delete-company-form">
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
